/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(217, 211, 211);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #888;
}

.main-container {
  background-color: #6a6565;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 5px 5px rgb(77, 64, 54);

  /* flex-direction: column; */
  padding: 10px;
  width: 50vw;
}

.input {
  width: 100%;
  background-color: #6a6566;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #5c5959;
}
input::placeholder {
  color: rgb(189, 183, 183);
}

.task-container {
  /* background-color: burlywood; */
  width: 70%;
}

.task-data-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #5c5959;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}

.data {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.button {
  background-color: rgb(69, 70, 65);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #5c5959;
}
.button:hover {
  box-shadow: 2px 5px 5px #5c5959;
  transform: translateY(-1px);
}
.dlt-btn {
  background-color: rgb(58, 3, 3);
  color: white;
}

.btn-cont {
  display: flex;
  /* justify-content: space-around; */
  justify-content: end;
  gap: 1rem;
  width: 40%;
}

.selector {
  background-color: rgb(69, 70, 65);
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  border-radius: 8px;
}
.checkbox {
  color: rgb(69, 70, 65);
}

.completed {
  color: rgb(113, 10, 14);
  text-decoration: line-through;
}
